body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #0f0;
    border-radius: 50%;
    background: radial-gradient(circle, #002, black);
}
